.git
.github
.idea
.vscode
*.md
!CHANGELOG.md
docs/*
!docs/CHANGELOG.md
node_modules
vendor
client/node_modules
client/dist
client/.vite
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
tests
